@media (min-width: 1200px) {
    .container{
        max-width: 985px;
        padding-top: 65px;
        margin-left: 14rem;
    }
}

h1 {
    font-size: 2rem;
    color: #295ea8
}

.home-container {
    background-image: url("../../../assets/img/home-screen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
