<div style="height: 150px;" >
    <div class="container mt-3 ">
        <div class="row justify-content-end">
            <div class="col-auto">
                <a href="#" class="text-light">Acerca de</a> 
            </div>
            <div class="col-auto">
                <a href="#" class="text-light">Contacto</a> 
            </div>
        </div>
    </div>
    
    <img src="../../../assets/icons/logoFormat2AZUL.PNG" alt="Vectorized image" class="logo-img">
    <img src="../../../assets/img/presentacionImagen.png" alt="Vectorized image" class="pre-img">
    <section>
        <h1>Proporciona a tus empleados todo lo que necesitan</h1>
        <p>No pierdas tiempo y comienza a trabajar</p>
        <button type="button" class="btn btn-outline-light btn-lg mr-2" [routerLink]="['/signup']">Registrate</button>
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/login']">Iniciar Sesión</button>
    </section>
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M-8.17,139.63 C424.09,150.48 147.01,4.45 499.72,18.25 L500.00,0.00 L0.00,0.00 Z" 
        style="stroke: none; fill: rgb(0, 0, 0);">
        </path>
    </svg>
</div>

