<!--Navbar -->
<header class="navbar fixed-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="" [routerLink]="['/home']" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
        <img src="/assets/icons/logoAZUL2.PNG" alt="Tabler" class="navbar-brand-image">
        <img src="/assets/icons/logoAZUL3.PNG" alt="Tabler" class="navbar-brand-image">
    </a>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown mr-2">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Espacios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="javascript:void(0)" *ngFor="let space of workSpaces" [routerLink]="['/home-info/', space._id]">{{space?._title}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item active" href="javascript:void(0)" (click)="showDialog()">
                    <i class="fas fa-plus mr-2"></i>
                    Crear espacio
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink-55"
            aria-haspopup="true" aria-expanded="true"> 
            <span class="avatar mr-2" style="background-image: url(/assets/img/avatar.png)"></span>
            <div>{{currentUser?._first_name}}</div>
        </a>
            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item text-danger" (click)="onLogout()">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    Cerrar Sesión
                </a>
            </div>
        </li>
    </ul>
</header>

<!--/.Navbar -->
<p-dialog styleClass="max-1000" [resizable]="false" [style]="{width: '30vw'}"
    [draggable]="false" header="Crear espacio" [(visible)]="display" [modal]="true">
    <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onCreateWorkSpace()" novalidate>
        <div class="row mb-2">
            <div class="col-12">
                <div class="mb-2">
                    <label class="form-label" for="name">Nombre</label>
                    <input type="text" name="name" class="form-control" required placeholder="Ej. Coca-Cola"
                        #name="ngModel" [(ngModel)]="workSpace.title" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
                    <div class="invalid-feedback" *ngIf="f.submitted && name.invalid">
                        <div *ngIf="name.errors.required">Requerido</div>
                    </div>
                </div>

                <div class="mb-2">
                    <label class="form-label" for="desc">Descripción</label>
                    <input type="text" name="desc" class="form-control" required placeholder="Ej. Hacemos refrescos"
                        #desc="ngModel" [(ngModel)]="workSpace.description" [ngClass]="{ 'is-invalid': f.submitted && desc.invalid }">
                    <div class="invalid-feedback" *ngIf="f.submitted && desc.invalid">
                        <div *ngIf="desc.errors.required">Requerido</div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary d-flex float-right" 
            role="button" aria-haspopup="true" aria-expanded="false">
            Crear
        </button>
    </form>
</p-dialog>

<p-toast position="bottom-center"></p-toast>
