<!--Navbar -->
<header class="mb-0 navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="" [routerLink]="['/home']" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
        <img src="/assets/icons/logoAZUL2.PNG" alt="Tabler" class="navbar-brand-image">
        <img src="/assets/icons/logoAZUL3.PNG" alt="Tabler" class="navbar-brand-image">
    </a>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown mr-2">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Espacios
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Espacio 1</a>
                <a class="dropdown-item" href="#">Espacio 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item active" href="javascript:void(0)" (click)="showDialog()">
                    <i class="fas fa-plus mr-2"></i>
                    Crear espacio
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a  class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink-55"
            aria-haspopup="true" aria-expanded="true"> 
            <span class="avatar mr-2" style="background-image: url(/assets/img/avatar.png)"></span>
            <div>{{currentUser._first_name}}</div>
        </a>
            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                aria-labelledby="navbarDropdownMenuLink-55">
                <a class="dropdown-item" [routerLink]="['/home']" (click)="onLogout()">
                    <i class="fas fa-user-alt mr-2"></i>
                    Perfil
                </a>
                <a class="dropdown-item text-danger" (click)="onLogout()">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    Cerrar Sesión
                </a>
            </div>
        </li>
    </ul>
    
</header>
<!--/.Navbar -->
<p-dialog header="Crear espacio" [(visible)]="display" [modal]="true">
    
</p-dialog>