<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" href="" [routerLink]="['/home']" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
        <img src="/assets/icons/logoAZUL.PNG" alt="Tabler" class="navbar-brand-image">
        <span class="ml-2"> </span>
    </a>
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown">
          <a href="javascript:void(0)" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            <span class="avatar mr-2" style="background-image: url(/assets/img/avatar.png)"></span>
            <!--<div>{{currentUser.firstName}}</div>-->
            Uriel
        </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
            aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item" [routerLink]="['/home']" (click)="onLogout()">Perfil</a>
            <a class="dropdown-item text-danger" (click)="onLogout()">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    
  </nav>
  <!--/.Navbar -->


<!--
<header class="navbar navbar-expand-md navbar-dark">
    <div class="container-xl">
        <a href=""  [routerLink]="['/home']" class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3">
            <!--<img src="/assets/icons/logoAZUL.PNG" alt="Tabler" class="navbar-brand-image">
            <span class="ml-2"> </span>
        </a>
        <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown">
                <a href="javascript:void(0)" class="nav-link d-flex lh-1 text-reset p-0" >
                <span class="avatar" style="background-image: url(/assets/img/avatar.png)"></span>
                <div class="d-none d-sm-block pl-2">
                <!--<div>{{currentUser.firstName}}</div>
                <div><p>Uriel</p></div>
                <!--<div class="mt-1 small text-muted" >{{currentUser.paternalLastName}}</div>
                <div class="mt-1 small text-muted"><p>González</p></div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" [routerLink]="['/home']"  (click)="onLogout()">
                <i class="fas fa-users mr-2"></i> 
                Perfil 
                </a>
    
                <div class="dropdown-divider"></div>
                <a class="dropdown-item cursor-pointer"  (click)="onLogout()">
                <i class="fas fa-sign-out-alt mr-2"></i> 
                Cerrar Sesión
                </a>
            </div>
            </div>
        </div>
    </div>
</header>
-->