<div id="sidebar">
    <header>
      <a href="#">My App</a>
    </header>
    <ul class="nav">
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-glasses"></i>Cursos
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-file"></i>Docs
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="fas fa-brain"></i>Trivias
            </a>
        </li>
    </ul>
</div>