<div class="sidebar">
    <header>
        <span>MENÚ</span>
    </header>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" [routerLink]="['/home-info/', spaceId]" class="nav-link">
                    <i class="fas fa-home fa-4x"></i>
                    <span class="link-text">Home</span>
                </a>                
            </li>
            <li class="nav-item">
                <a href="#" [routerLink]="['/documents/', spaceId]" class="nav-link">
                    <i class="fas fa-file fa-4x"></i>
                    <span class="link-text">Docs</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-brain fa-4x"></i>
                    <span class="link-text">Trivias</span>
                </a>
            </li>
        </ul>
        
    </nav>
</div>