.sidebar {
  width: 9em;
  padding-top: 55px;
  height: 100%;
  position: fixed;
  background: #1f2d40;
  text-align: center;
}

.nav-link {
  display: block;
}

.link-text {
  display: block;
}

.nav-item {
  margin-top: 10px;
  width: 100%;
}

.navbar {
  display: inline-flex;
}

.navbar-nav { 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
  
.sidebar header {
  background-color: #0081bd;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

.sidebar header a {
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
}

.sidebar header a:hover {
  color: rgb(255, 255, 255);
}

.sidebar a{
  color: #bebebe;
  font-size: 16px;
}

.sidebar a:hover{
  background: none;
  color: #ffffff;
}

